/* Configuration */

.together * {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  font-family: Arial;
}


.together-modal-structure {
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 2%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  margin: 10% auto;
  animation-name: modalopen;
  animation-duration: 1s;


  max-width: 438px;
  max-height: 468px;
  height: 480px;

}

.together-container-center {
  margin: auto;
  display: flex;
  align-items: center;
}

.together-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.together-modal-header {
  height: 100px;
  display: flex;
}

.together-close {
}

.together-close:hover,
.together-close:focus {
  cursor: pointer;
}

.together-back {
  width: auto;
  margin: auto;
}

.together-back:hover,
.together-back:focus {
  text-decoration: none;
  cursor: pointer;
}

.together-modal-content-back-btn {
  display: none;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideup {

  from {
    margin-top: 150%;
  }

  to {
    margin-top: 48%;
  }

}
       

/* Container back btn */

.together-container-back-btn {
  padding: 30px;
  width: 20px;
  height: 20px;
  position: fixed;
}
.together-container-logo {
  padding-top: 25px;
  display: block;
}

/* Modal Content */

/* Modal content call emergency */
.together-modal-content-call-help {
  width: auto;
  padding: 20px;
  max-width: 370px;
  height: 350px;
}

.together-modal-content span {
  font-weight: bold;
  margin-top: 30px;
  font-size: 16px;
}

.together-modal-content p {
  font-size: 14px;
}

.together-emergency-item {
  padding-top: 20px;
}


/* Container img */
.together-container-img {
  max-width: 500px;
  height: 150px;
}

.together-img-responsive {
  width: 100%;
  height: 100%;
}


/* Container Principal Text */

.together-container-txt {
  text-align: center;
  color: black;
  height: 50px;
}
.together-container-txt h1 {
  font-size: 18px;
}



/* Container btns */

.together-container-btns {
  max-width: 500px;
  height: 100px;
}

.btn-action {
  width: 200px;
  height: 44px;
  background: #7B2CBF;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.text-btn-action {
  text-align: center;

  font-size: 18px;
  margin: 0;
  margin-top: 13px;
}

.btn-action-left {
  width: 45%;
  float: left;
  margin: auto;
}

.together-btn:hover,
.together-btn:focus {
  text-decoration: none;
  cursor: pointer;
}


.btn-action-mobile {
  margin: auto;
}

.btn-action-mobile a:link {
  color: #FFFFFF;
  text-decoration: none;
}

.btn-action-mobile a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

/* Container last texts */
.together-container-last-txt {
  text-align: center;
  padding-top: 20px;
}

.together-container-last-txt h3 {
  font-size: 14px;
  padding: 5px;
}

/* Container call help instructions */
.together-modal-content-call-help-instructions {
  height: 250px;
}


/* Responsive itens */
@media (max-width: 540px) {
  .text-btn-action {
    font-size: 15px;
  }
  .together-btn-help {
    display: none;
  }
  .btn-action-mobile {
    display: block;
  }


  .together-modal-structure {
    background-color: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    margin: 2%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    margin: 48% 0 0 0;
    animation-name: slideup;
    animation-duration: 1s;
  
  
    max-width: 438px;
    max-height: 468px;
    height: 480px;
    
  }

}

@media (min-width: 540px) {
  .together-btn-help {
    display: block;
  }
  .btn-action-mobile {
    display: none;
  }

}